

@font-face {
    font-family: 'UTMNeutra';
    src: url('../fonts/UTMNeutra.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/UTMNeutra.woff') format('woff'), 
    url('../fonts/UTMNeutra.ttf') format('truetype'), 
    url('../fonts/UTMNeutra.svg#UTMNeutra') format('svg');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Roboto', sans-serif;
    //font-family: 'UTMNeutra';
    background-color: #fff;
}

/*----- reset -----*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

img {
  vertical-align: top;
}

a {
    text-decoration:none;
}




body {

.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
    @media all and (max-width: 600px) {
        width: 30%;
    }
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.mw-360 {
    width: calculateRem(460px);
}
.background-none {
    background: none transparent !important;
}
.flex-box {
    display: flex;
}

.flex-box-space {
    display: flex;
    justify-content: space-around;
}

.flex-box-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.m-a12 {
    margin: 0 calculateRem(-12px);
}
.pl-10 {
    padding-left: calculateRem(10px);
}
.pr-10 {
    padding-right: calculateRem(10px);
}

.mlr-30 {
    margin: 0 calculateRem(30px);
}

.mr-0 {
    margin-right: 0 !important;
}

.mt-10 {
    margin-top:calculateRem(10px);
}
.mt-20 {
    margin-top:calculateRem(20px);
}
.mt-30 {
    margin-top:calculateRem(30px);
}
.mt-40 {
    margin-top:calculateRem(40px);
}
.mt-50 {
    margin-top:calculateRem(50px);
}
.mt-60 {
    margin-top:calculateRem(60px);
}
.overflow-hidden {
    overflow: hidden;
} 

.border-radius {
    border-radius: 8px;
}

@media all and (max-width: 600px) {
    p {
        font-size: calculateRem(22px);
    }
}

}
