doctype html
html
  include jade/head.jade
  body
    div
      include jade/header.jade
      include jade/template/content-about.jade
      include jade/template/partner.jade
      include jade/footer.jade
    include jade/scripts.jade