doctype html
html
  include jade/head.jade
  body
    div
      .c-header-white
        include jade/header.jade
      include jade/template/content-gallery-detail.jade
      include jade/template/partner.jade
      include jade/footer.jade
      include jade/scripts.jade