@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?m08rmo');
    src:  url('../fonts/icomoon.eot?m08rmo#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?m08rmo') format('truetype'),
      url('f../fonts/icomoon.woff?m08rmo') format('woff'),
      url('../fonts/icomoon.svg?m08rmo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-album-anh:before {
    content: "\e900";
    color: #4a4a4a;
  }
  .icon-arrow-breadcrumb:before {
    content: "\e901";
    color: #9b9b9b;
  }
  .icon-arrow-language-top-back:before {
    content: "\e902";
    color: #fff;
  }
  .icon-arrow-menu-black:before {
    content: "\e903";
  }
  .icon-arrow-menu-blue:before {
    content: "\e904";
    color: #025b93;
  }
  .icon-arrow-menu-white:before {
    content: "\e905";
    color: #fff;
  }
  .icon-arrow-select:before {
    content: "\e906";
    color: #4a4a4a;
  }
  .icon-arrow-xem-chi-tiet:before {
    content: "\e907";
    color: #0c7ebb;
  }
  .icon-daily:before {
    content: "\e908";
    color: #145c90;
  }
  .icon-dich-vu---cho-de-xe-may .path1:before {
    content: "\e909";
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---cho-de-xe-may .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---cho-de-xe-may .path3:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---cho-de-xe-may .path4:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---cho-de-xe-may .path5:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(252, 252, 252);
  }
  .icon-dich-vu---gio-mo-cua .path1:before {
    content: "\e90e";
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---gio-mo-cua .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-dich-vu---gio-mo-cua .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---gio-mo-cua .path4:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---gio-mo-cua .path5:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---gio-mo-cua .path6:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---gio-mo-cua .path7:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---gio-mo-cua .path8:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---gio-mo-cua .path9:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---gio-mo-cua .path10:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---internet-toc-do-cao .path1:before {
    content: "\e918";
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---internet-toc-do-cao .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---internet-toc-do-cao .path3:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---internet-toc-do-cao .path4:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path1:before {
    content: "\e91c";
    color: rgb(204, 204, 204);
  }
  .icon-dich-vu---tra-cf-mien-phi .path2:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(230, 230, 230);
  }
  .icon-dich-vu---tra-cf-mien-phi .path3:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(220, 166, 9);
  }
  .icon-dich-vu---tra-cf-mien-phi .path4:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---tra-cf-mien-phi .path5:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(220, 166, 9);
  }
  .icon-dich-vu---tra-cf-mien-phi .path6:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---tra-cf-mien-phi .path7:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path8:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path9:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path10:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path11:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path12:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path13:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(204, 204, 204);
  }
  .icon-dich-vu---tra-cf-mien-phi .path14:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(230, 230, 230);
  }
  .icon-dich-vu---tra-cf-mien-phi .path15:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path16:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path17:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path18:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path19:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path20:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path21:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(2, 91, 147);
  }
  .icon-dich-vu---tra-cf-mien-phi .path22:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(18, 145, 208);
  }
  .icon-dich-vu---tra-cf-mien-phi .path23:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(220, 166, 9);
  }
  .icon-dich-vu---tra-cf-mien-phi .path24:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(255, 194, 14);
  }
  .icon-dich-vu---tra-cf-mien-phi .path25:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(220, 166, 9);
  }
  .icon-dich-vu---tra-cf-mien-phi .path26:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(255, 194, 14);
  }
  .icon-Fixed-seat:before {
    content: "\e936";
    color: #145c90;
  }
  .icon-flex-member:before {
    content: "\e937";
    color: #145c90;
  }
  .icon-fulltime-member:before {
    content: "\e938";
    color: #145c90;
  }
  .icon-instagram-footer:before {
    content: "\e939";
    color: #ccdee9;
  }
  .icon-location-top-grey:before {
    content: "\e93a";
    color: #666;
  }
  .icon-Location-top:before {
    content: "\e93b";
    color: #fff;
  }
  .icon-location .path1:before {
    content: "\e93c";
    color: rgb(69, 51, 0);
    opacity: 0.4324;
  }
  .icon-location .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-Map-top .path1:before {
    content: "\e93e";
    color: rgb(204, 204, 204);
  }
  .icon-Map-top .path2:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(81, 142, 248);
  }
  .icon-Map-top .path3:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(40, 180, 70);
  }
  .icon-Map-top .path4:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(242, 242, 242);
  }
  .icon-Map-top .path5:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 216, 55);
  }
  .icon-Map-top .path6:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Map-top .path7:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(241, 67, 54);
  }
  .icon-Map-top .path8:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(126, 45, 37);
  }
  .icon-next---arrow:before {
    content: "\e946";
    color: #0c7ebb;
  }
  .icon-pagination---arrow-1:before {
    content: "\e947";
    color: #4a4a4a;
  }
  .icon-pagination---arrow-2:before {
    content: "\e948";
    color: #4a4a4a;
  }
  .icon-phone-top-grey:before {
    content: "\e949";
    color: #666;
  }
  .icon-Phone-top:before {
    content: "\e94a";
    color: #fff;
  }
  .icon-prev---arrow:before {
    content: "\e94b";
    color: #0c7ebb;
  }
  .icon-skype-footer:before {
    content: "\e94c";
    color: #ccdee9;
  }
  .icon-telegram-footer:before {
    content: "\e94d";
    color: #ccdee9;
  }
  .icon-Tin-tuc-chi-tiet---facebook:before {
    content: "\e94e";
    color: #4166b2;
  }
  .icon-Tin-tuc-chi-tiet---google:before {
    content: "\e94f";
    color: #f94831;
  }
  .icon-Tin-tuc-chi-tiet---mail:before {
    content: "\e950";
  }
  .icon-Tin-tuc-chi-tiet---print:before {
    content: "\e951";
    color: #999;
  }
  .icon-Tin-tuc-chi-tiet---tweeter:before {
    content: "\e952";
    color: #50c6e6;
  }
  