

.icon-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: calculateRem(2px);
    vertical-align: middle;
    border-top: calculateRem(4px) dashed;
    border-right: calculateRem(4px) solid transparent;
    border-left: calculateRem(4px)solid transparent;
}