
.more {
    

    a {
        font-size: calculateRem(12px);
        font-weight: bold;
        color: #0C7EBB;
        display: block; 
        display: inline-block;
        position: relative;
        padding-right: calculateRem(15px);
        text-transform: uppercase;
        @extend .hover-link;
        &:before {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e907";
            color: #0c7ebb;
            position: absolute;
            top:calculateRem(2px);
            right: 0;
            font-size: calculateRem(10px);
        }
        &:hover {
            text-decoration: underline;
        }

    }
    
}

.btn {
    background-image: linear-gradient(-128deg, #1399DB 0%, #025B93 100%);
    box-shadow: 0 4px 12px 0 rgba(76,76,76,0.20);
    border-radius: 2px;
    padding: calculateRem(11px) calculateRem(30px);
    font-size: calculateRem(15px);
    font-weight: bold;
    color:#fff;
    display: inline-block;

    @extend .hvr-float-shadow;
}

.hvr-float-shadow {
    @media all and (min-width: 601px) {
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        
        &:before {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 5%;
            height: 10px;
            width: 90%;
            opacity: 0;
            background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            /* W3C */
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform, opacity;
            transition-property: transform, opacity;
        }

        &:hover {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);

            &:before {
                opacity: 1;
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
            }
        }
    }
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    @media all and (min-width: 601px) {   
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}

.hover-link:hover {
    @media all and (min-width: 601px) {
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
    }
}
  
@-webkit-keyframes shine {
from {
    -webkit-mask-position: 150%;
}

to {
    -webkit-mask-position: -50%;
}
}