

@include b('c-header') {
    display: block;
    padding: calculateRem(20px) 0;
    position: relative;
    z-index: 99;

    @media all and (max-width: 600px) {
        padding: calculateRem(10px) 0;
        background-color: #fff;
    }

    .icon-menu {
        display: none;
        position: absolute;
        top:5px;
        left: 15px;

        span {
            width: 23px;
            height: 3px;
            background-color: #d29f34;
            margin: 5px 0;
            display: block;
        }

        @media all and (max-width: 600px) {
            display: block;
        }

    } 

    @include e('logo'){
        @media all and (max-width: 600px) {
            padding: calculateRem(10px) 0 calculateRem(0px);
        }
        a {
            display: block;
            overflow: hidden;
            text-indent: -9999px;
            width: calculateRem(230px);
            height: calculateRem(59px);
            background: url(../images/logo.png) no-repeat center center;
            background-size: 92% auto;

            @media all and (max-width: 600px) {
                margin: 0 auto;
            }
        }
    }

    @include e('right'){
        margin-left: auto;
    }

    @include e('info'){

    }

    @include e('listinfo'){
        text-align: right;
        font-size: calculateRem(14px);
        li {
            display: inline-block;
            padding-left: calculateRem(40px);
            color: #fff;

            @media all and (max-width: 600px) {
                color: #000;
                display: none;
            }

            [class*=" icon-"], [class^=icon-] {
                padding-right: calculateRem(8px);
                &:before {
                    color: #fff;
                }
                
            }

            .address {
                display: flex;
                align-items: center;
                a {
                    display: inline-block;
                    width: calculateRem(17px);
                    height: calculateRem(17px);
                    background: url(../images/maps.svg) no-repeat center center;
                    background-size: 100%;
                    margin-left: calculateRem(8px);
                }
            }

            &.language {
                border-left: 1px solid #fff;
                padding-left: calculateRem(20px);
                margin-left: calculateRem(20px);

                @media all and (max-width: 600px) {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
            }

            .block-select {
                position: relative;
                padding-right: calculateRem(20px);
                cursor: pointer;

                select {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                .icon {
                    position: absolute;
                    right:0;
                    top: calculateRem(7px);
                    @extend .icon-caret;
                }
            }
        }
    }

    @include e('menu'){
        margin-top: calculateRem(20px);

        @media all and (max-width: 600px) {
            display: none;
        }

    }

    @include e('listmenu'){
        font-size: calculateRem(14px);

        li {
            display: inline-block;
            padding-left: calculateRem(40px);
            position: relative;
            a {
                display: block;
                color: #fff;
                font-weight: 500;
                position: relative;
                padding-bottom: calculateRem(10px);
                text-decoration: none;

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: transparent;
                    content: '';
                }
            }

            &:hover,
            &.active {
                a {
                    &:after {
                        background-color: #fff;
                    }
                }
            }
            &:hover {
                > .c-header__submenu {
                    display: block;
                }
            }
            &.list-submenu {
                > a {
                    padding-right: calculateRem(15px);

                    &:before {
                        content:'';
                        position: absolute;
                        right: 0;
                        top: calculateRem(7px);
                        @extend .icon-caret;

                    }
                }
            }
        }
    }
    @include e('submenu'){
        position: absolute;
        top:100%;
        right: 0;
        min-width: calculateRem(200px);
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        display: none;
        margin-top: 1px;
        padding: calculateRem(5px) 0;
        li {
            display: block;
            padding: calculateRem(10px) calculateRem(15px);
            a {
                color: #000;
                //padding-left: calculateRem(15px);
                padding-bottom: 0;
                // &:before {
                //     content: "";
                //     position: absolute;
                //     top: calculateRem(5px);
                //     left: 0px;
                //     width: calculateRem(6px);
                //     height: calculateRem(6px);
                //     background-color: #e7e6e3;
                //     border-radius: 50%;
                // }
                // &:hover {
                //     &:before {
                //         background-color: #145C90;
                //     }
                // }
                &:hover {
                    color:#025B93;
                }
            }
        }
    }  
    
    @media all and (max-width: 600px) {
        .flex-box {
            flex-direction:column-reverse;
        }
    }
}

.c-header-white {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    position: relative;
    z-index: 1;
    .c-header__listinfo li [class*=" icon-"]:before, .c-header__listinfo li [class^=icon-]:before,
    .c-header__listinfo li {
        color:#666666;
    }
    .c-header__listmenu > li {
        a {
            color:#2C2C2C;
        }
        &:hover,
        &.active {
            > a {
                color:#025B93;

                &:after {
                    background-color: #025B93;
                }
            }
        }
        .c-header__submenu {
            li {
                a {
                    &:hover {
                        color:#025B93;
                    }
                }
            }
        }
    } 

    .c-header__submenu {
        border: 1px solid #d6d6d6;
        box-shadow: 2px 4px 12px #d6d6d6;
    }
}