.c-section-about,
.c-section-project,
.c-section-event {
    padding: calculateRem(60px) 0;
    @media all and (max-width: 600px) {
        padding: calculateRem(40px) 0;
    }
}

.c-section-about {
    background: #FBFBFB;
}

.c-section-partner {
    padding: calculateRem(40px) 0;
    background: #FBFBFB;
    border-top:1px solid #f1f1f1;

    @media all and (max-width: 600px) {
        padding: calculateRem(20px) 0;
    }
}

.c-section-notification {
    padding: calculateRem(40px) 0;
    background: #FBFBFB;

    @media all and (max-width: 600px) {
        padding: calculateRem(20px) 0;
    }
}

.flex-box-col {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .box-info-col {
        max-width: calculateRem(350px);
        margin-right: calculateRem(10px);
    
        p {
            font-size: calculateRem(15px);
            color: #4A4A4A;
            line-height: calculateRem(25px);
        }
    }
    
    .box-slider-col {
        overflow: hidden;
        margin-right: calculateRem(-15px);
    }

    @media all and (max-width: 600px) {
        display: block;

        .box-slider-col {
            margin-top: 20px;
            margin-right: 0;
        }
    }
}


.box-card {
    display: block;
    position: relative;
    @extend .hover-link;
    img {
        width: 100%;
    }
    .box-info-card {
        display: flex;
        align-items: flex-end;
        flex-flow: row wrap;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: calculateRem(15px);
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
    }

    h4 {
        font-size: calculateRem(15px);
        color: #FFFFFF;
        line-height: 21px;
    }
    span {
        display: block;
        font-size: calculateRem(13px);
        color: #afaeae;
        line-height: 21px;
        width: 100%;
        margin-top:calculateRem(5px);
    }
}

.blox-slider {
    position: relative;
    padding: 0 calculateRem(15px);
    
    .swiper-button-next,
    .swiper-button-prev {
        background: none #FFFFFF;
        box-shadow: 0 5px 3px 0 rgba(0,0,0,.12);
        width: calculateRem(36px);
        height: calculateRem(36px);
        border-radius: 50%;
        margin: calculateRem(6px);
        transform: translate(0%,-50%);
        &:before {
            font-family: 'icomoon'!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e907";
            color: #0c7ebb;
            position: absolute;
            top: .125rem;
            right: 0;
            font-size: calculateRem(12px);
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-20%,-50%);
        }
    }
    
    .swiper-button-next {
        right: calculateRem(-4px);
    }
    .swiper-button-prev{
        left: calculateRem(-4px);

        &:before {
            content: "\e94b";
            transform: translate(-40%,-50%);
        }
    }
}

.list-card-notification {
    width: calc(100%/3);

    @media all and (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.info-notification {
    padding: calculateRem(15px);
    background: #FFFFFF;
    border: 1px solid #E3E8EA;
    margin: 0 calculateRem(12px);

    .box-card-notification {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @extend .hover-link;

        .box-img {
            width: calculateRem(124px);
            height: calculateRem(80px);
            margin-right: calculateRem(15px);
            img {
                width: 100%;
                height: 100%;
            }

            @media all and (max-width: 600px) {
                width: calculateRem(104px);
                height: calculateRem(60px);
            }
        }

        .box-info-card {
            flex: 1;
            overflow: hidden;
            h5 {
                font-size: alculateRem(14px);
                color: #2C2C2C;
                line-height: alculateRem(20px);
                font-weight: bold;
            }
            span {
                display: block;
                font-size: calculateRem(13px);
                color: #afaeae;
                line-height: 21px;
                width: 100%;
                margin-top:calculateRem(5px);
            }
        }
    }
}

.c-image-text {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .c-image-text__content {
        flex: 1;

        p {
            font-size: calculateRem(15px);
            color: #4A4A4A;
            line-height: calculateRem(25px);
            margin-top: calculateRem(20px);
        }
    }

    .c-image-text__image {
        margin-left: calculateRem(85px);
        width: calculateRem(558px);
        img {
            width: 100%;
        }
    }

    @media all and (max-width: 600px) {
        flex-flow: row wrap;
        flex-direction: column-reverse;

        .c-image-text__image {
            width: 100%;
            margin-bottom: 20px;
            margin-left: 0;
            order: 1;
        }
    }

    &.c-image-text--direction {
        flex-direction: row-reverse;
        .c-image-text__image {
            margin-right: calculateRem(85px);
            margin-left: calculateRem(0px);
        }
        @media all and (max-width: 600px) {
            flex-direction: column-reverse;
        }
    }
}

.list-partner {
    display: flex;
    margin-top: calculateRem(20px);
    li {
        flex: 1;
        a {
            display: block;
            padding: 0 calculateRem(5px);
            @extend .hvr-float-shadow;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    @media all and (max-width: 600px) {
        flex-flow: row wrap;
        li {
            width: calc(100%/3);
            flex: none;
            margin: calculateRem(5px) 0;
        }
    }
}

.c-section-member {
    padding: calculateRem(40px) 0;
    background: #FBFBFB;
    .list-member {
        margin: 0 calculateRem(-12px);
        margin-top: calculateRem(30px);
        display: flex;
        flex-flow: row wrap;

        li {
            width: calc(100%/4);

            @media all and (max-width: 600px) {
                width: calc(100%/2);
                margin-bottom: 10px;
            }
            .info-member {
                margin: 0 calculateRem(12px);

                img {
                    width: 100%;
                    height: auto;
                }
                strong {
                    display: block;
                    font-size: calculateRem(14px);
                    color: #2C2C2C;
                    text-align: center;
                    line-height: calculateRem(20px);
                    margin-top: calculateRem(10px);
                }
                span {
                    display: block;
                    font-size: calculateRem(13px);
                    color: #2C2C2C;
                    text-align: center;
                    line-height: calculateRem(20px);
                    margin-top: calculateRem(5px);
                }
            }
        }
    }

}

.price-daily  {
    font-size: calculateRem(30px);
    color: #2C2C2C;
    display: block; 
    margin-top: calculateRem(15px);
    
    sub {
        font-size: calculateRem(15px);
        padding-left: calculateRem(5px);
        vertical-align: baseline;
    }

    @media all and (max-width: 600px) {
        font-size: calculateRem(20px);
    }
}

.c-section-utilities {
    padding: calculateRem(30px) 0;
}

.list-utilities {
    display: flex;
    flex-flow: row wrap;
    margin-top: calculateRem(45px);
    li {
        flex: 1;

        @media all and (max-width: 600px) {
            flex: initial;
            width: calc(100%/2);
            margin-bottom: 20px;
        }
        .info-utilities {
            padding:0 calculateRem(10px);
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 100%;
            img {
                margin-bottom: calculateRem(10px);
            }
            span {
                font-size: calculateRem(15px);
                color: #4A4A4A;
                line-height: calculateRem(25px);
                margin-top: auto;
                display: block;
                width: 100%;

                @media all and (max-width: 600px) {
                    margin-top: 0;
                }
            }
        }
    }
}

.list-gallery {
    display: flex;
    flex-flow: row wrap;

    li {
        width: calc(100%/4);
        @media all and (max-width: 600px) {
            width: calc(100%/2);
        }
        a {
            display: block;
            position: relative;
            img {
                width: 100%;
                height: auto;
            }

            &:before {
                content: '';
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                opacity: 0.5;
                background: rgba(18, 145, 208, 0.5);
                opacity:0;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top:50%;
                left: 50%;
                width: calculateRem(35px);
                height: calculateRem(35px);
                background: url(../images/zoom.png) no-repeat center center;
                background-size: 100%;
                z-index: 9;
                transform: translate(-50%,-50%);
                opacity:0;
            }
            &:hover {
                &:before,
                &:after {
                    opacity:1;
                    transition: opacity .5s ease-out;
                }
            }
        }
    }
}

.c-section-news {
    padding: calculateRem(60px) 0;

    @media all and (max-width: 600px) {
        padding: calculateRem(30px) 0;
    }
    .o-container {
        display: flex;
        flex-flow: row wrap;

        @media all and (max-width: 600px) {
            display: block;
        }
    }
    .c-menu-news {
        min-width: calculateRem(250px);
        margin-right: calculateRem(50px);
        .list-menu-news {
            
            li {
                padding-left: calculateRem(27px);
                border-left: 3px solid transparent;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: calculateRem(15px);
                    color: #4A4A4A;
                    line-height: calculateRem(25px);
                }
                
                &:hover,
                &.active {
                    border-left-color: #025B93;

                    a {
                        color:#025B93;
                        text-decoration: underline;
                    }
                }
            }
            @media all and (max-width: 600px) {
                display: flex;
                flex-flow: row wrap;
                li {
                    width: 50%;
                    padding-left: 0;
                    border: none;
                    text-align: center;
                    margin-bottom: 10px;
                    a {
                        padding: 0 calculateRem(5px);
                    }
                }
            }
        }
        @media all and (max-width: 600px) {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
    }

    .c-content-news {
        overflow: hidden;
        flex: 1;
        .list-news {
            display: flex;
            flex-flow: row wrap;
            margin: 0 calculateRem(-15px);

            @media all and (max-width: 600px) {
                margin: -6px;
            }
            li {
                width: calc(100%/3);

                .box-card {
                    margin: 0 calculateRem(15px) calculateRem(30px) calculateRem(15px);
                }

                @media all and (max-width: 600px) {
                    width: calc(100%/2);
                    .box-card {
                        margin: 6px;
                    } 
                }
            }
        }
    }
}

.box-pagination {
    text-align: center;
    margin-top: calculateRem(10px);
    @media all and (max-width: 600px) {
        margin-top: 30px;
    }
    .list-pagination {
        li {
           display: inline-block;
           border: 1px solid #EBEBEC;
           width: calculateRem(40px);
           height: calculateRem(40px);
           border-radius: 50%;
           line-height: calculateRem(40px);
           text-align: center;
           margin: 0 calculateRem(5px);
           position: relative;

           a,
           span {
                font-size: calculateRem(15px);
                color: #4A4A4A;
                line-height: calculateRem(25px);
                display: block;
                height: 100%;
                line-height: calculateRem(40px);
           }

            &:hover,
            &.active {
               background-color: #025B93;
               a,
               span {
                   color: #fff;

                   &:before {
                    color: #fff;
                   }
               }
            }
            &.first,
            &.prev {
                transform: rotate(180deg)
            }

            @media all and (max-width: 600px) {
                width: 20px;
                height: 20px;
                a,
                span {
                    line-height: 20px;
                    font-size: 12px;
                }

                [class*=" icon-"], [class^=icon-] {
                    font-size: 10px;
                }
            }
        }
    }
}

.c-section-news-detail {
    padding: calculateRem(20px) 0;
    background-color: #fff;
}

.box-breadcrumb {
    .list-breadcrumb {
        li {
            display: inline-block;
            padding-right: 20px;
            position: relative;

            &:before {
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e947";
                color: #4a4a4a;
                position: absolute;
                top:calculateRem(6px);
                right:calculateRem(3px);
                font-size: calculateRem(11px);
            }

            &:last-child {
                padding-right: 0;
                &:before {
                    display: none;
                }
            }

            a{
                font-size: calculateRem(13px);
                color: #025B93;

                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                font-size: calculateRem(13px);
                color: #9B9B9B;
            }
        }
    }
}

.box-title{
    margin-top: calculateRem(20px);
}

.box-info {
    margin-top: calculateRem(10px);
    display: flex;

    span.date {
        font-size: calculateRem(15px);
        color: #4A4A4A;
        margin-right: calculateRem(15px);
    }
}

.box-container-detail {
    margin-top: calculateRem(40px);
    position: relative;
    background-color: #fff;
    &:after {
        content: ' ';
        clear: both;
        display: table;
    }

    @media all and (max-width: 600px) {
        display: block;
        margin-top: 20px;
    }
    .box-info-share {
        min-width: calculateRem(60px);
        margin-right: calculateRem(50px);

        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        float: left;
        .name {
            display: block;
            font-size: calculateRem(15px);
            color: #4A4A4A;
            margin-bottom: calculateRem(10px);
        }

        .list-share {
            li {
                text-align: center;
                margin-bottom: calculateRem(20px);
                .icon-Tin-tuc-chi-tiet---tweeter,
                .icon-Tin-tuc-chi-tiet---facebook,
                .icon-Tin-tuc-chi-tiet---google {
                    font-size: calculateRem(35px);
                    @media all and (max-width: 600px) { 
                        font-size: 20px;
                    }
                }

                .icon-Tin-tuc-chi-tiet---print,
                .icon-Tin-tuc-chi-tiet---mail {
                    font-size: calculateRem(15px);

                    &:before {
                        color: #4A4A4A;
                    }
                }
            }
        }

        @media all and (max-width: 600px) { 
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            position: static;
            float: none;
            .name { 
                margin: 0 10px 0 0;
            }

            .list-share {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                li {
                    margin: 0 5px;
                }
                
            }
        }
    }

    .box-content-detail {
        overflow: hidden;
        p {
            margin-bottom: calculateRem(30px);
            font-size: calculateRem(15px);
            color: #4A4A4A;
            @media all and (max-width: 600px) { 
                margin-bottom: 15px;
            }
        }

        img {
            max-width: 100%;
            margin-bottom: calculateRem(30px);
            @media all and (max-width: 600px) { 
                margin-bottom: 15px;
            }
        }
    }
}

.c-section-news-related {
    padding: calculateRem(30px) 0;
    border-top: 1px solid #f1f1f1;
    .list-news-related {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
        margin-top: calculateRem(30px) !important;

        li {
            width: calc(100% / 4);

            @media all and (max-width: 600px) { 
                width: calc(100% / 2);
                margin-bottom: 20px;
            }

            .box-card {
                margin: 0 15px;
            }
        }
    }
}

.c-section-gallery {
    padding: calculateRem(30px) 0;
    background-color: #fff;
    .list-album-gallery {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;

        @media all and (max-width: 600px) { 
            margin: 0 -10px;
        }

        li {
            width: calc(100% / 3);
            margin-bottom: 15px;
            .box-gallery {
                margin: 0 15px;

                @media all and (max-width: 600px) { 
                    margin: 0 10px;
                }
            }

            @media all and (max-width: 600px) { 
                width: calc(100% / 2);
                margin-bottom: 10x;
            }
        }
    }
}

.box-gallery {
    display: block;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    @extend .hover-link;

    img {
        width: 100%;
    }
    .box-info-gallery {
        padding: calculateRem(15px);
        h4 {
            font-size: calculateRem(14px);
            color: #2C2C2C;
            font-weight: bold;
        }
        span {
            display: block;
            padding-left: calculateRem(20px);
            font-size: calculateRem(13px);
            color: #4A4A4A;
            margin-top: calculateRem(8px);
            position: relative;

            &::before {
                display: block;
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e900";
                color: #4a4a4a;
                position: absolute;
                top:calculateRem(2px);
                left: 0;
            }
        }
    }
}

.c-section-gallery-detail {
    padding: calculateRem(30px) 0;
    background-color: #fff;
    .gallery-top {
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
    .gallery-thumbs {
        box-sizing: border-box;
        padding: 10px 0;

        .swiper-slide {
            width: 108px;
            height: 67px;
            border-radius: 1.84px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
    
            &.swiper-slide-active {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #1291D0;
                    opacity: 0.8;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        background: none #FFFFFF;
        box-shadow: 0 5px 9px 0 rgba(0,0,0,0.12);
        border: 1px solid  #D6DDE6;
        width: calculateRem(36px);
        height: calculateRem(36px);
        border-radius: 50%;
        //margin: calculateRem(6px);
        top:55%;
        &:before {
            font-family: 'icomoon'!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e907";
            color: #0c7ebb;
            position: absolute;
            right: 0;
            font-size: calculateRem(12px);
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-20%,-50%);
            
        }
    }
    
    .swiper-button-next {
        right: 2px;
    }
    .swiper-button-prev{
        left: 2px;

        &:before {
            content: "\e94b";
            transform: translate(-40%,-50%);
        }
    }
    
}

.c-section-contact {
    background-color: #fff;
    .box-contact {
        display: flex;
        flex-flow: row wrap;

        @media all and (max-width: 600px) { 
            display: block;
        }
    }
    .box-contact-left {
        flex: 1;
        padding: calculateRem(50px) 0;
        padding-right: calculateRem(20px);
        @media all and (max-width: 600px) { 
            padding: calculateRem(30px) 0;
            padding-right: 0;
        }
        p {
            font-size: calculateRem(15px);
            color: #4A4A4A;
            margin-bottom: calculateRem(15px);
            a {
                color: #4A4A4A;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .e-heading-page {
            margin-bottom: calculateRem(15px);
        }
        h3 {
            margin-bottom: calculateRem(10px);
            font-size: calculateRem(15px);
            color: #4A4A4A;
            font-family: 'UTMNeutra';
        }
        .box-from-cotent {
            padding: 0 calculateRem(10px);
        }
        
    }

    .box-contact-right {
        flex: 1;

        iframe {
            height: 100% !important;
            width: 100% !important;
        }

        @media all and (max-width: 600px) { 
            height: 350px;
        }
    }
}

.content-from {
    display: flex;
    flex-flow: row wrap;
    margin:0 calculateRem(-10px);
    .box-from {
        flex: 1 50%;
        
        margin-bottom: calculateRem(20px);
        label {
            display: block;
            font-size: calculateRem(15px);
            color: #4A4A4A;
            margin-bottom: calculateRem(10px);
        }
        textarea,
        select,
        input {
            border: 1px solid #E3E8EA;
            border-radius: 2px;
            font-size: calculateRem(15px);
            color: #4A4A4A;
            padding: calculateRem(10px) calculateRem(15px);
            display: block;
            width: 100% !important;
            box-sizing: border-box;
            
        }
        select,
        input {
            height: 40px;
        }
    }

    .box-from-submit {
        
        .box-from-cotent {
            display: flex;
            align-items: center;
            @media all and (max-width: 600px) { 
                display: block;

                .box-rules {
                    margin-top: calculateRem(15px);
                }
            }
            p {
                margin: 0;
                a {
                    color: #025B93;
                    font-weight: bold;
                }
            }
        }
        .box-button {
            margin-right: calculateRem(15px);
        }
        button {
            @extend .btn;
            border: none;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}

.poup-contact {
    max-width: calculateRem(600px);
    padding: 20px;

    .box-from {
        padding: 0 calculateRem(15px);
    }

    .title-poup {
        font-size: calculateRem(25px);
        font-family: 'UTMNeutra';
        color:#2C2C2C;
        line-height: calculateRem(50px);
        margin-bottom: calculateRem(15px);
        text-align: center;
        @media all and (max-width: 600px) {
            font-size: calculateRem(25px);
            line-height: calculateRem(35px);
        }
    }

    .box-from-note {
        flex: 1 100%;
    }

    .box-from-submit {
        width: 100%;
        .box-from-cotent {
            justify-content: center;
            display: flex;
        }
    }
}