
@include b('c-section-benefit'){
    padding: calculateRem(60px) 0;
    background: #FBFBFB;
    @media all and (max-width: 600px) {
        padding: calculateRem(20px) 0;
    }
}

@include b('c-benefit'){
    @include e('title') {
        text-transform: uppercase;

        .title {
            font-size: calculateRem(12px);
            color:#9B9B9B;
            font-weight: bold;
            display: block;
            margin-bottom: calculateRem(10px);
        }
    }
    @include e('tab') {
        li {
            display: inline-block;
            margin-right: calculateRem(50px);
            &:last-child {
                margin: 0;
            }

            @media all and (max-width: 600px) {
                margin-right: calculateRem(20px);
                &:last-child {
                    margin: 0;
                }
    
            }
            a {
                font-size: calculateRem(36px);
                color:#9B9B9B;
                font-weight: bold;
                display: block; 
                font-family: 'UTMNeutra';

                @media all and (max-width: 600px) {
                    font-size: calculateRem(14px);
                }
            
            }
            &:hover,
            &.active {
                a {
                    color:#145C90;
                }
            }
        }
    }

    @include e('content') {
        margin-top: calculateRem(50px);
        @media all and (max-width: 600px) {
            margin-top: calculateRem(20px);
        }
    }

    @include e('cards') {
        display: flex;
        flex-flow: row wrap;
        margin: calculateRem(-10px);
        li {
            width: calc(93%/4);
            padding: calculateRem(10px);

            @media all and (max-width: 600px) {
                width: 100%;
            }
        }

        @include e('body'){
            padding: calculateRem(30px);
            box-shadow: 0 4px 12px 0 rgba(0,0,0,0.07);
            border-radius: 2px;
            height: 100%;
            box-sizing: border-box;

            // .icon {
            //     //width: calculateRem(50px);
            //     //height: calculateRem(50px);
            //     img {
            //         //width: 100%;
            //     }
            // }
            .title {
                margin-top: calculateRem(20px);
                font-size: calculateRem(15px);
                color: #2C2C2C;
                display: block; 
                font-family: 'UTMNeutra';
            }

            .unit-price {
                font-size: calculateRem(13px);
                color: #2C2C2C;
                display: block; 
                margin-top: calculateRem(15px);
            }

            .price {
                font-size: calculateRem(30px);
                color: #2C2C2C;
                display: block; 
                margin-top: calculateRem(15px);
                
                sub {
                    font-size: calculateRem(15px);
                    padding-left: calculateRem(5px);
                    vertical-align: baseline;
                }
            }

            .more {
                margin-top: calculateRem(15px);

            }
        }
    }
}