
@include b('swiper-banner') {
    margin-top: calculateRem(-105px);
    position: relative;
    @media all and (max-width: 600px) {
        margin-top: 0;
    }
    &:before {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 40%;
        content: '';
        z-index: 9;
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.67),rgba(255, 0, 0, 0));
    }

    img {
        width: 100%;
        height: auto;
    }
}

@include b('c-banner') {
    position: relative;

    @include e('title') {
        position: absolute;
        top:50%;
        left: 50%;
        z-index: 99;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        
        text-transform: uppercase;

        h2 {
            font-size: calculateRem(50px);
            font-family: 'UTMNeutra';
            @media all and (max-width: 600px) {
                font-size: calculateRem(20px);
            }
        }
        p {
            font-size: calculateRem(36px);
            font-family: 'UTMNeutra';
            margin-top: calculateRem(10px);
            white-space: nowrap;

            @media all and (max-width: 600px) {
                font-size: calculateRem(16px);
                white-space: normal;
            }
        }
    }
}