
@include b('c-footer') {
    background: #025B93;
    padding: calculateRem(20px) 0 0;
    .o-container {
        display: flex;
        justify-content:space-between;
        align-items: center;

        @media all and (max-width: 600px) {
            display: block;

            .c-footer--center {
                margin: 15px 0;
            }
        }
    }

    .logo-footer {
        margin-bottom: calculateRem(10px);
    }

    .title-footer {
        font-size: calculateRem(18px);
        color: #fff;
        line-height: calculateRem(28px);
        font-family: 'UTMNeutra';
        margin-bottom: calculateRem(17px);

        @media all and (max-width: 600px) {
            margin-bottom: calculateRem(10px);
        }
    }

    .c-footer--left {
        p {
            font-size: calculateRem(14px);
            color: #fff;
            line-height: calculateRem(30px);

            a {
                font-size: calculateRem(14px);
                color: #fff;
                line-height: calculateRem(30px);
                @extend .hover-link;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .c-list__submenu {
        max-width:calculateRem(300px);
        display: flex;
        flex-flow: row wrap;
        li {
            width: 50%;
            a {
                font-size: calculateRem(14px);
                color: #fff;
                line-height: calculateRem(30px);
                @extend .hover-link;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .list-follow {
        li {
            display: inline-block;
            margin-right: calculateRem(10px);
            a {
                @extend .hvr-float-shadow;
                span {
                    &:before {
                        font-size: calculateRem(24px);
                    }
                }
            }
        }
    }

    .list-app {
        margin-bottom: calculateRem(20px);
        li {
            display: inline-block;
            margin-right: calculateRem(10px);
            a {
                width: calculateRem(135px);
                display: block;
                @extend .hvr-float-shadow;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .c-footer-bottom {
        border-top:1px solid  #2272A4;
        padding: calculateRem(10px) 0;
        margin-top: calculateRem(20px);
        @media all and (max-width: 600px) {
            padding-bottom: calculateRem(20px);
        }
        p {
            font-size: calculateRem(14px);
            color: #fff;
            line-height: calculateRem(30px);

            @media all and (max-width: 600px) {
                margin-bottom: calculateRem(10px);
            }

        }
    }
}