// @import "compass";
@charset "utf-8";

// CONFIG
// ======
// You can change the configuration here. To use your own config/variables file, just import your variables before using one of the mixins.
// Output combined s selectors like:
//    .b__e.is-active {}
// Set to false to output single, non-combined s ms:
//    .b__e--is-active {}
$combined-s-selectors: true !default;
// .b[separator]e:
$e-separator: "__" !default;
// .b[separator]m:
$m-separator: "--" !default;
// The default prefix for s m selectors, will be combined with $m-separator:
$s-prefix: "is" !default;
// MIXINS
// ======
@mixin b($name) {
    .#{$name} {
        @content;
    }
}

@mixin e($name) {
    @at-root {
        &#{$e-separator}#{$name} {
            @content;
        }
    }
}

@mixin m($name) {
    @at-root {
        &#{$m-separator}#{$name} {
            @content;
        }
    }
}

@mixin s($s, $prefix: $s-prefix) {
    @if $combined-s-selectors==true {
        @at-root {
            &.#{$prefix}-#{$s} {
                @content;
            }
        }
    }
    @else {
        @at-root {
            &#{$m-separator}#{$prefix}-#{$s} {
                @content;
            }
        }
    }
}


// braakpoint settings ------------------------------
@mixin bp($bp_1, $bp_2: 0) {

    $bp_main: 768;

    @if $bp_1 == 'sp' {
        @media (max-width: #{$bp_main}px) {
            @content;
        }
    }
    @elseif $bp_1 == 'pc' {
        @media (min-width: #{$bp_main + 1}px) {
            @content;
        }
    }
    @else {
        @if $bp_1 != 0 and $bp_2 != 0 {
            @media (min-width: $bp_1) and (max-width: $bp_2) {
                @content;
            }
        }
        @elseif $bp_1 == 0 {
            @media (max-width: $bp_2) {
                @content;
            }
        }
        @elseif $bp_2 == 0 {
            @media (min-width: $bp_1) {
                @content;
            }
        }
    }
}

// common mixins ------------------------------
@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin fs($fontsize: 16, $lineheight: 26, $base: 10) {
    font-size: $fontsize + px;
    font-size: ($fontsize / $base) * 1rem;
    line-height: ceil($lineheight*1000 / $fontsize) / 1000;
}
@mixin fs-vw($fontsize: 16, $lineheight: 26, $area-width: 320) {
    font-size: #{($fontsize / $area-width) * 100}vw;
    line-height: ceil($lineheight*1000 / $fontsize) / 1000;
}
@mixin fontanti {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin backgroundsize($w:auto, $h:auto){
    -webkit-background-size: $w $h;
    background-size: $w $h;
}
@mixin transition($options:.2s all ease) {
    -webkit-transition: ($options);
    transition: ($options);
}
@mixin transform($options) {
    -webkit-transform: ($options);
    transform: ($options);
}
@mixin animation($options) {
    -webkit-animation: ($options);
    animation: ($options);
}

@mixin hover-op {
    opacity: 1;
    @include transition(.2s opacity);

    &:hover {
        opacity: .75;
    }
}
@mixin hover-color($color:$color-point) {
    .pc & {
        @include transition(.2s color ease);

        &:hover {
            color: $color;
        }
    }
}
@mixin hover-bgcolor($color:$color-point) {
    .pc & {
        @include transition(.2s background-color ease);

        &:hover {
            background-color: $color;
        }
    }
}
@mixin fieldstyle-reset {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    vertical-align: middle;
    color: $color-font-base;
    font-size: inherit;
    font-family: $font-family-base;
}
@mixin coverAll($pos: absolute) {
    position: $pos;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin posCenter() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin posCenterV() {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    @include transform(translateY(-50%));
}
@mixin bgContain() {
    background: no-repeat center center;
    background-size: contain;
}
@mixin bgCover() {
    background: no-repeat center center;
    background-size: cover;
}

@mixin background-gradient($color_1, $color_2) {
    background: $color_1;
    background: -moz-linear-gradient(left, $color_1 0%, $color_2 100%);
    background: -webkit-linear-gradient(left, $color_1 0%, $color_2 100%);
    background: linear-gradient(to right, $color_1 0% ,$color_1 0%, $color_2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_1', endColorstr='$color_2',GradientType=1 );
}
@mixin block($w: 100%) {
    float: left;
    width: $w;
}
@mixin position($p, $top, $right, $bottom, $left, $zindex: 1) {
    position: $p;
    @if $top != '' {
        top: $top;
    }
    @if $right != '' {
        right: $right;
    }
    @if $bottom != '' {
        bottom: $bottom;
    }
    @if $left != '' {
        left: $left;
    }
    z-index: $zindex;
}
@mixin font($size: 0, $fw: 0, $color: 0, $under: 0, $up: 0, $line: 0) {
    @if $size != 0 {
        font-size: $size;
    }
    @if $fw != 0 {
        font-weight: $fw;
    }
    @if $color != 0 {
        color: $color;
    }
    @if $under != 0 {
        text-decoration: underline;
    }
    @if $up != 0 {
        text-transform: uppercase;
    }
    @if $line != 0 {
        line-height: $line;
    }
}

@mixin font-size($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }

    @else {

        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        }

        @elseif ($line-height != none and $line-height != false) {
            @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`."
        }
    }
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

