section.c-section
    .o-container
        h3.c-section__title.c-section--borderBot.c-section--borderBlue.u-text--center  Title
        .c-section__content.c-about__content
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt consectetur voluptate ea dolor dicta excepturi praesentium voluptatem repudiandae.
            p Laboriosam iusto ex doloremque. Quaerat corrupti ipsum commodi numquam aspernatur inventore voluptatibus?