

mixin img(imgLink)
	img.c-banner-top__img(src=imgLink, alt='images')

.swiper-container.swiper-banner
	.swiper-wrapper
		.swiper-slide
			img(src='images/banner-1.png', alt='images')
		.swiper-slide
			img(src='images/banner-1.png', alt='images')


