.c-banner.wow.fadeInUp
    .swiper-container.swiper-banner
        .swiper-wrapper
            .swiper-slide
                img(src='images/news.png', alt='images')
    .c-banner__title
        p chia sẻ thông tin, kiến thức
.c-section-news.background-none.wow.fadeInUp
    .o-container
        .c-menu-news
            ul.list-menu-news   
                li.active 
                    a(href="#") Tin sự kiện
                li 
                    a(href="#") Tuyển dụng
                li 
                    a(href="#") Giới thiệu startup
                li 
                    a(href="#") Các dự án khởi nghiệp
        .c-content-news
            ul.list-news   
                li
                    a.box-card(href="#")
                        img(src='images/tt-1.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-2.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-3.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-4.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-5.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-6.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-7.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-8.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
                li
                    a.box-card(href="#")
                        img(src='images/tt-9.png', alt='images')
                        .box-info-card 
                            h4 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
            .box-pagination
                ul.list-pagination
                    li.page-item.first
                        a(href="#") 
                            span.icon-pagination---arrow-2
                    li.page-item.prev
                        a(href="#")
                            span.icon-pagination---arrow-1
                    li.page-item.active
                        span 1
                    li.page-item
                        a(href="#") 2
                    li.page-item
                        a(href="#") 3
                    li.page-item.next
                        a(href="#") 
                            span.icon-pagination---arrow-1
                    li.page-item.last
                        a(href="#")
                            span.icon-pagination---arrow-2



