.c-banner.wow.fadeInUp
    .swiper-container.swiper-banner
        .swiper-wrapper
            .swiper-slide
                img(src='images/banner-tv.png', alt='images')
    .c-banner__title
        p Thư viện ảnh
.c-section-gallery.wow.fadeInUp
    .o-container
        ul.list-album-gallery
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-6.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-2.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-3.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-4.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-5.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-6.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-7.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-8.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
            li 
                a.box-gallery(href="#")
                    img(src='images/tv-9.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
             li 
                a.box-gallery(href="#")
                    img(src='images/tv-10.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
             li 
                a.box-gallery(href="#")
                    img(src='images/tv-7.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
             li 
                a.box-gallery(href="#")
                    img(src='images/tv-3.png', alt='images')
                    .box-info-gallery 
                        h4 Album Nam ullamcorper hendrerit auctor
                        span 24 ảnh
        .box-pagination
            ul.list-pagination
                li.page-item.first
                    a(href="#") 
                        span.icon-pagination---arrow-2
                li.page-item.prev
                    a(href="#")
                        span.icon-pagination---arrow-1
                li.page-item.active
                    span 1
                li.page-item
                    a(href="#") 2
                li.page-item
                    a(href="#") 3
                li.page-item.next
                    a(href="#") 
                        span.icon-pagination---arrow-1
                li.page-item.last
                    a(href="#")
                        span.icon-pagination---arrow-2
                
        