
.c-section-contact.wow.fadeInUp
    .o-container
        .box-contact
            .box-contact-left
                .box-info-contact
                    h2.e-heading-page liên hệ
                    .list-info  
                        p Địa chỉ: 63 Phan Đăng Lưu, Hải Châu, Đà Nẵng, VN
                        p Điện thoại: (0236) 730 2568
                        p Di động: (084) 905 18 2013
                        p Email : 
                            a(href="#") info@iotcoworkingspace.com
                    h3 Bạn có nhu cầu với dịch vụ của chúng tôi?
                    p Tư vấn viên của chúng tôi sẽ liên hệ với bạn. Tất cả chỉ cần điền vào form sau.
                    form.content-from
                        .box-from
                            .box-from-cotent
                                label Họ và tên
                                input(type="text")
                        .box-from
                            .box-from-cotent
                                label Email
                                input(type="text")
                        .box-from
                            .box-from-cotent
                                label Số điện thoại
                                input(type="text")
                        .box-from
                            .box-from-cotent
                                label Bạn có nhu cầu về
                                select
                                    option Tìm kiếm chỗ làm việc
                                    option Tìm kiếm chỗ làm việc
                                    option Tìm kiếm chỗ làm việc
                        .box-from
                            .box-from-cotent
                                label Nội dung
                                textarea(rows="8")
                        .box-from-submit
                            .box-from-cotent
                                .box-button
                                    button Liên hệ
                                .box-rules
                                    p Bằng việc click vào đăng ký bạn sẽ đồng ý với 
                                        a(href="#") điều khoản 
                                        | và 
                                        a(href="#") chính sách 
                                        | của chúng tôi

            .box-contact-right
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.5603156898283!2d108.21595141534755!3d16.03638798890125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219eb8c228b9b%3A0xe651a4bde77a5098!2zNjMgUGhhbiDEkMSDbmcgTMawdSwgSG_DoCBDxrDhu51uZyBC4bqvYywgSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1545401335047" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>