.c-banner.wow.fadeInUp
    .swiper-container.swiper-banner
        .swiper-wrapper
            .swiper-slide
                img(src='images/about-banner.png', alt='images')
    .c-banner__title
        p Cùng khởi nghiệp, cùng phát triển
.c-section-about.background-none.wow.fadeInUp
    .o-container
        .c-image-text
            .c-image-text__content
                h2.e-heading-page Giới thiệu IOT SPACE
                p Sed sagittis rutrum urna, ut malesuada nulla pulvinar sed. Nullam aliquet sem quis sem aliquet, nec faucibus arcu varius. Integer nunc dui, amet pellentesque non erat eget, dictum maximus odio. 
                p Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac. Sed sit amet nunc pharetra.
            .c-image-text__image
                img(src='images/gt.png', alt='images')
.c-section-about.background-none.wow.fadeInUp
    .o-container
        .c-image-text.c-image-text--direction
            .c-image-text__content
                h2.e-heading-page Tầm nhìn, sứ mệnh
                p Sed sagittis rutrum urna, ut malesuada nulla pulvinar sed. Nullam aliquet sem quis sem aliquet, nec faucibus arcu varius. Integer nunc dui, amet pellentesque non erat eget, dictum maximus odio. 
                p Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac. Sed sit amet nunc pharetra.
            .c-image-text__image
                img(src='images/gt-5.png', alt='images')
.c-section-member.wow.fadeInUp
    .o-container
        h2.e-heading-page.text-center Thành viên
        ul.list-member
            li 
                .info-member
                    img(src='images/gt-1.png', alt='images')
                    strong Ông Nguyễn Văn An
                    span  Giám đốc IOT Space
            li 
                .info-member
                    img(src='images/gt-2.png', alt='images')
                    strong Ông Nguyễn Văn An
                    span  Giám đốc IOT Space
            li 
                .info-member
                    img(src='images/gt-3.png', alt='images')
                    strong Ông Nguyễn Văn An
                    span  Giám đốc IOT Space
            li 
                .info-member
                    img(src='images/gt-4.png', alt='images')
                    strong Ông Nguyễn Văn An
                    span  Giám đốc IOT Space
