.c-banner.wow.fadeInUp
    .swiper-container.swiper-banner
        .swiper-wrapper
            .swiper-slide
                img(src='images/about-banner.png', alt='images')
    .c-banner__title
        p Coworking space daily
.c-section-about.background-none.wow.fadeInUp
    .o-container
        .c-image-text
            .c-image-text__content
                h2.e-heading-page Gói Daily
                p Sed sagittis rutrum urna, ut malesuada nulla pulvinar sed. Nullam aliquet sem quis sem aliquet, nec faucibus arcu varius. Integer nunc dui, amet pellentesque non erat eget, dictum maximus odio. 
                p Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac. Sed sit amet nunc pharetra.
                .flex-box-center.mt-30
                    a#link-popup.btn(href="#popup-contact") Liên hệ ngay
                    span.price-daily.pl-10 
                        sub Chỉ với 
                        | 300.000
                        sub đ/ngày
            .c-image-text__image
                img(src='images/dv.png', alt='images')
.c-section-utilities.wow.fadeInUp
    .o-container
        h3.e-heading-section Tiện ích
        ul.list-utilities
            li 
                .info-utilities
                    img(src='images/dv-2.svg', alt='images')
                    span Giờ mở cửa: 8:00 - 20:00
            li 
                .info-utilities
                    img(src='images/dv-3.svg', alt='images')
                    span Internet tốc độ cao
            li 
                .info-utilities
                    img(src='images/dv-4.svg', alt='images')
                    span Trà và cà phê miễn phí
            li 
                .info-utilities
                    img(src='images/dv-1.svg', alt='images')
                    span Chỗ để xe máy, an ninh cao
.c-section-gallery.wow.fadeInUp
    ul.list-gallery
        li 
            a(data-fancybox="gallery" href="images/tva-1.png")
                img(src='images/tva-1.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-2.png")
                img(src='images/tva-2.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-3.png")
                img(src='images/tva-3.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-4.png")
                img(src='images/tva-4.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-5.png")
                img(src='images/tva-5.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-6.png")
                img(src='images/tva-6.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-7.png")
                img(src='images/tva-7.png', alt='images')
        li 
            a(data-fancybox="gallery" href="images/tva-8.png")
                img(src='images/tva-8.png', alt='images')
#popup-contact.poup-contact
    h3.title-poup  Liên hệ ngay
    form.content-from
        .box-from
            .box-from-cotent
                label Họ và tên
                input(type="text")
        .box-from
            .box-from-cotent
                label Email
                input(type="text")
        .box-from
            .box-from-cotent
                label Số điện thoại
                input(type="text")
        .box-from
            .box-from-cotent
                label Số lượng người
                select
                    option 1
                    option 2
                    option 3
        .box-from
            .box-from-cotent
                label Ngày bắt đầu
                input#datepicker(type="text")
        .box-from
            .box-from-cotent
                label Loại
                select
                    option Membe
                    option Private office
        .box-from
            .box-from-cotent
                label  Loại  chi tiết
                select
                    option Membe
                    option Private office
        .box-from.box-from-note
            .box-from-cotent
                label Note
                textarea(rows="8")
        .box-from-submit
            .box-from-cotent
                .box-button
                    button Đăng ký