
.c-section-news-detail.wow.fadeInUp
    .o-container
        .box-breadcrumb
            ul.list-breadcrumb
                li
                  a(href="#")  Trang chủ
                li
                  a(href="#")  Tin sự kiện
                li
                  span Sự kiện nổi bật: Khơi dậy tiềm năng cùng AIA
        .box-title
            h2.e-heading-page Sự kiện nổi bật: Khơi dậy tiềm năng cùng AIA
        .box-info
            span.date 20:20 17/05/2018
            .box-share
        .box-container-detail
            .box-info-share
                span.name CHIA SẺ
                ul.list-share
                    li
                        a(href="#")
                            span.icon-Tin-tuc-chi-tiet---tweeter
                    li
                        a(href="#")
                            span.icon-Tin-tuc-chi-tiet---facebook
                    li
                        a(href="#")
                            span.icon-Tin-tuc-chi-tiet---google
                    li
                        a(href="#")
                            span.icon-Tin-tuc-chi-tiet---mail
                    li
                        a(href="#")
                            span.icon-Tin-tuc-chi-tiet---print
            .box-content-detail
                img(src='images/banner-1.png', alt='images')
                p Với mục tiêu khuyến khích phát triển và áp dụng những phương thức sáng tạo để kết nối với thế hệ trẻ, truyền cảm hứng và tạo động lực cho họ cống hiến hết khả năng của mình, AIA trở thành môi trường lý tưởng để các bạn trẻ khởi nghiệp.

                p Tập trung vào chiến lược Đại lý Ngoại hạng, AIA ngày càng nâng cao chất lượng đội ngũ đại lý của mình thông qua chương trình tuyển dụng và đào tạo chất lượng. Khi gia nhập AIA, các tư vấn viên trẻ, đầy nhiệt huyết sẽ được hỗ trợ phát triển với những chương trình đào tạo chuyên sâu, được trang bị những thiết bị số mới nhất, giúp họ nhanh chóng cập nhật thông tin nâng cao khả năng tương tác qua đó tư vấn cho khách hàng tốt hơn.

                p Bên cạnh đó, việc tổ chức các sự kiện định hướng nghề nghiệp, để khơi dậy tiềm năng và đam mê cho thế hệ trẻ cũng được AIA triển khai. Một trong những sự kiện như vậy đã được tổ chức thành công vừa qua tại văn phòng AIA NEXT Quảng Nam. Đây cũng là sự kiện Startup đầu tiên được AIA tổ chức tại địa phương này. Sự kiện đã thu hút hơn 100 bạn trẻ, những người đam mê khởi nghiệp trong môi trường bảo hiểm nhân thọ và mong muốn trở thành đại lý bảo hiểm chuyên nghiệp của AIA tham dự.

                p Bà Szu Mae Yoon, Phó Tổng Giám Đốc Truyền Thông và Thương Hiệu của AIA Việt Nam chia sẻ: “Chuỗi sự kiện “AIA Startup – Khởi nghiệp cùng AIA” là những buổi đối thoại sống động với những tài năng tại các địa phương như Quảng Nam. Chương trình tuyển dụng Đại lý Ngoại hạng là cơ hội tốt cho họ gặp các doanh nhân giàu kinh nghiệm trong mạng lưới AIA như anh Bùi Ngọc Hà ở Tam Kỳ, Quảng Nam”.
                img(src='images/banner-1.png', alt='images')
                p Cũng theo bà Szu Mae Yoon, “Thông qua những buổi kết nối như thế này, mục tiêu của chúng tôi là giúp đỡ những tài năng ở các địa phương xây dựng một sự nghiệp bền vững. Chúng tôi liên tục tìm kiếm những cá nhân có năng lực cao để tham gia vào đội ngũ Đại lý Ngoại hạng của chúng tôi.

                p Điểm khác biệt chính của AIA là chúng tôi thực sự nghiêm túc trong việc giúp đỡ các tài năng địa phương phát triển tốt nhất tiềm năng của mình thông qua các chương trình tuyển dụng Đại lý Ngoại hạng. Những chương trình này hướng tới mục tiêu xây dựng đội ngũ tư vấn bảo hiểm nhân thọ được đào tạo bài bản và có khả năng đáp ứng nhu cầu ngày càng cao của khách hàng.”

                p Anh Bùi Ngọc Hà, Giám đốc Văn Phòng Tổng Đại Lý AIA Quảng Nam chia sẻ về quá trình khởi nghiệp mà anh đã trải qua để giúp các bạn phát triển sự nghiệp bản thân

                p Thông qua những buổi kết nối như thế này, AIA mong muốn giúp đỡ những tài năng ở các địa phương xây dựng một sự nghiệp bền vững

.c-section-news-related.wow.fadeInUp
    .o-container
        h3.e-heading-section Tin liên quan
        ul.list-news-related
            li 
                a.box-card(href="#")
                    img(src='images/tt-1.png', alt='images')
                    .box-info-card 
                        h4 Integer vestibulum vitae purus eget efficitur
                        span 5/11/2018
            li 
                a.box-card(href="#")
                    img(src='images/tt-2.png', alt='images')
                    .box-info-card 
                        h4 Integer vestibulum vitae purus eget efficitur
                        span 5/11/2018
            li 
                a.box-card(href="#")
                    img(src='images/tt-3.png', alt='images')
                    .box-info-card 
                        h4 Integer vestibulum vitae purus eget efficitur
                        span 5/11/2018
            li 
                a.box-card(href="#")
                    img(src='images/tt-4.png', alt='images')
                    .box-info-card 
                        h4 Integer vestibulum vitae purus eget efficitur
                        span 5/11/2018
