.c-section-gallery-detail.wow.fadeInUp
    .o-container
        .swiper-container.gallery-top
            .swiper-wrapper
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
        .swiper-container.gallery-thumbs
            .swiper-wrapper
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
                .swiper-slide
                    img(src='images/banner-1.png', alt='images')
            .swiper-button-next
            .swiper-button-prev