mixin facilitiesList(img, title)
    li.c-box__list__item
        a(href="", title=title)
            img(src=img, alt=title)
        h3.title.u-text--center
            a(href="", title=title).c-btn.c-btn--orange= title
                i.c-icon.c-icon--arrow.c-icon--arrow--white

section.c-section.c-section__facilities
    .o-container
        h3.c-section__title.c-section--borderBot.c-section--borderBlue.u-text--center  Title
        .c-section__content
            ul.c-box__list
                +facilitiesList('images/270x203.jpg', 'Title')
                +facilitiesList('images/270x203.jpg', 'Title')
                +facilitiesList('images/270x203.jpg', 'Title')
                +facilitiesList('images/270x203.jpg', 'Title')