mixin noticeList(date, content)
    li.c-notice__box__list__item
        a(href="", title=content)
            strong.date.c-color--orange= date
            span= content
            i.c-icon.c-icon--arrow  

section.c-section.c-notice
    .o-container
        h3.c-section__title.c-section--borderBot.c-section--borderBlue.u-text--center  Title
        .c-section__content
            .c-notice__box.c-notice__box__new
                .c-notice__box__header
                    h3.c-notice__box__title News
                .c-notice__box__content
                    ul.c-notice__box__list
                        +noticeList('2018.09.11', 'Title sample page here')
                        +noticeList('2018.09.09', 'Title sample page here')
                        +noticeList('2018.09.07', 'Title sample page here')
                        +noticeList('2018.09.05', 'Title sample page here')
                        +noticeList('2018.09.03', 'Title sample page here')
                .c-notice__box__footer.u-text--center
                    a(href="").c-btn.c-btn--orange
                        i.c-icon.c-icon--arrow.c-icon--arrow--white
                        | Read more
                        
            .c-notice__box.c-notice__box__everydayLife
                .c-notice__box__header
                    h3.c-notice__box__title 園の日常・ブログ
                .c-notice__box__content
                    ul.c-notice__box__list
                        +noticeList('2018.09.10', 'Title sample page here')
                        +noticeList('2018.09.08', 'Title sample page here')
                        +noticeList('2018.09.06', 'Title sample page here')
                        +noticeList('2018.09.04', 'Title sample page here')
                        +noticeList('2018.09.02', 'Title sample page here')
                .c-notice__box__footer.u-text--center
                    a(href="").c-btn.c-btn--orange
                        i.c-icon.c-icon--arrow.c-icon--arrow--white
                        | Read more
