.c-section-partner.wow.fadeInUp
    .o-container
        h3.e-heading-section Đối tác của iot space
        ul.list-partner
            li
                a(href="#")
                    img(src='images/dt-1.png', alt='images')
            li
                a(href="#")
                    img(src='images/dt-2.png', alt='images')
            li
                a(href="#")
                    img(src='images/dt-3.png', alt='images')
            li
                a(href="#")
                    img(src='images/dt-4.png', alt='images')
            li
                a(href="#")
                    img(src='images/dt-5.png', alt='images')
            li
                a(href="#")
                    img(src='images/dt-6.png', alt='images')