
.c-banner.wow.fadeInUp
    include template/banner.jade
    .c-banner__title
        h2 IOT SPACE
        p Không gian làm việc hiện đại, tiện nghi

.c-section-benefit.wow.fadeInUp
    .o-container
        .c-benefit
            .c-benefit__title
                span.title Gói dịch vụ
                ul.c-benefit__tab
                    li.active
                        a(href="#") Coworking space
                    li
                        a(href="#") private office
            .c-benefit__content
                ul.c-benefit__cards
                    li
                        .c-benefit__cards__body
                            .icon
                                img(src='images/daily.svg', alt='images')
                            h3.title Daily
                            span.unit-price Chỉ với
                            span.price 80.000
                                sub đ/ngày
                            .more
                                a(href="#") Xem chi tiết
                    li
                        .c-benefit__cards__body
                            .icon
                                img(src='images/flex-member.svg', alt='images')
                            h3.title Flex member
                            span.unit-price Chỉ với
                            span.price 300.000
                                sub đ/ngày
                            .more
                                a(href="#") Xem chi tiết
                    li
                        .c-benefit__cards__body
                            .icon
                                img(src='images/fulltime-member.svg', alt='images')
                            h3.title Fulltime member
                            span.unit-price Chỉ với
                            span.price 1.300.000
                                sub đ/ngày
                            .more
                                a(href="#") Xem chi tiết
                    li
                        .c-benefit__cards__body
                            .icon
                                img(src='images/fixed-seat.svg', alt='images')
                            h3.title Fixed seat
                            span.unit-price Chỉ với
                            span.price 2.000.000
                                sub đ/ngày
                            .more
                                a(href="#") Xem chi tiết
.c-section-event.wow.fadeInUp
    .o-container
        .flex-box-col
            .box-info-col
                h2.e-heading-page Sự kiện <br/>sắp diễn ra
                p.mt-20 Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac sed sit amet dosit nunc.
                .more.mt-10
                    a(href="#") Xem chi tiết
            .box-slider-col.flex-1
                #slider-1.blox-slider(data-swiper="swiper")
                    .swiper-container.swiper-style
                        .swiper-wrapper
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/tt-1.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/tt-2.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/tt-3.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018   
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/tt-2.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018 
                    .swiper-button-next
                    .swiper-button-prev
.c-section-notification.wow.fadeInUp
    .o-container
        h3.e-heading-section Thông báo
        .flex-box-center.m-a12.mt-20
            .list-card-notification
                .info-notification
                    a.box-card-notification(href="#")
                        .box-img
                            img(src='images/tt-2.png', alt='images') 
                        .box-info-card 
                            h5 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
            .list-card-notification
                .info-notification
                    a.box-card-notification(href="#")
                        .box-img
                            img(src='images/tt-2.png', alt='images') 
                        .box-info-card 
                            h5 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
            .list-card-notification
                .info-notification
                    a.box-card-notification(href="#")
                        .box-img
                            img(src='images/tt-2.png', alt='images') 
                        .box-info-card 
                            h5 Integer vestibulum vitae purus eget efficitur
                            span 5/11/2018
.c-section-project.wow.fadeInUp
    .o-container
        .flex-box-col
            .box-info-col
                h2.e-heading-page Các dự án<br/>khởi nghiệp
                p.mt-20 Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac sed sit amet dosit nunc.
                .more.mt-10
                    a(href="#") Xem chi tiết
            .box-slider-col.flex-1
                #slider-2.blox-slider(data-swiper="swiper")
                    .swiper-container.swiper-style
                        .swiper-wrapper
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/kn-2.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/kn-1.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/kn-3.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018   
                            .swiper-slide
                                a.box-card(href="#")
                                    img(src='images/tt-2.png', alt='images')
                                    .box-info-card 
                                        h4 Integer vestibulum vitae purus eget efficitur
                                        span 5/11/2018 
                    .swiper-button-next
                    .swiper-button-prev
.c-section-about.wow.fadeInUp
    .o-container
        .c-image-text
            .c-image-text__content
                h2.e-heading-page Giới thiệu IOT SPACE
                p Sed sagittis rutrum urna, ut malesuada nulla pulvinar sed. Nullam aliquet sem quis sem aliquet, nec faucibus arcu varius. Integer nunc dui, amet pellentesque non erat eget, dictum maximus odio. 
                p Mauris et malesuada dui. Vestibulum vehicula condimentum ipsum, non semper arcu rhoncus ac. Sed sit amet nunc pharetra.
                .mt-30
                    a.btn(href="#") Đăng ký làm thành viên
            .c-image-text__image
                img(src='images/gt.png', alt='images')





