footer.c-footer
    .o-container
        .c-footer--left
            .logo-footer
                a(href="#")
                    img(src='images/logo-footer.png', alt='logo')
            p Địa chỉ: 63 Phan Đăng Lưu, Hải Châu, Đà Nẵng, VN
            p Điện thoại: 
                a(href="#") (0236) 730 2568
            p Di động: 
                a(href="#") (084) 905 18 2013
            p Email : 
                a(href="#") info@iotcoworkingspace.com
        .c-footer--center
            h3.title-footer Website
            ul.c-list__submenu
                li
                    a(href="", title="Title") Trang chủ
                li
                    a(href="", title="Title") Giới thiệu
                li
                    a(href="", title="Title") Dịch vụ
                li
                    a(href="", title="Title") Tin tức
                li
                    a(href="", title="Title") Sự kiện
                li
                    a(href="", title="Title") Thư viện ảnh
                li 
                    a(href="", title="Title") Liên hệ
        .c-footer--right
            h3.title-footer Download app
            ul.list-app  
                li 
                    a(href="#")
                        img(src='images/ios.png', alt='logo')
                li
                    a(href="#")    
                        img(src='images/ad.png', alt='logo')
            h3.title-footer Kết nối với iot space
            ul.list-follow
                li
                    a(href="#")
                        span.icon-skype-footer
                li
                    a(href="#")
                        span.icon-telegram-footer
                li
                    a(href="#")
                        span.icon-instagram-footer
    .c-footer-bottom
        .o-container
            p IoT Coworking Space © 2018

            .logo-std
                a(href="#")
                    img(src='images/std.png', alt='logo')


