


header.c-header
    .o-container
        .flex-box
            h1.c-header__logo
                a(href="#") logo
            .c-header__right
                .c-header__info
                    ul.c-header__listinfo
                        li
                            span.address
                                span.icon-location-top-grey
                                | Địa chỉ: 63 Phan Đăng Lưu, Đà Nẵng
                                a(href="#")

                        li
                            span.phone 
                                span.icon-Phone-top
                                |Điện thoại: (0236) 730 2568
                        li.language
                            .block-select
                                i.icon
                                select
                                    option English
                                    option Tiếng việt
                                    
                .c-header__menu 
                    ul.c-header__listmenu
                        li.active
                            a(href="#") Trang chủ
                        li
                            a(href="#") Giới thiệu
                        li.list-submenu
                            a(href="#") Dịch vụ
                            ul.c-header__submenu
                               li
                                    a(href="#") Tin tức - Sự kiện
                                li
                                    a(href="#") Thư viện ảnh
                                li
                                    a(href="#") Liên hệ     
                        li.list-submenu
                            a(href="#") Tin tức - Sự kiện
                            ul.c-header__submenu
                               li
                                    a(href="#") Tin tức - Sự kiện
                                li
                                    a(href="#") Thư viện ảnh
                                li
                                    a(href="#") Liên hệ 
                        li
                            a(href="#") Thư viện ảnh
                        li
                            a(href="#") Liên hệ
            a.icon-menu(href="#menumobi")
                span
                span
                span

nav#menumobi.hide
    ul
        li
            a(href="#") Trang chủ
        li
            a(href="#") Giới thiệu
        li
            a(href="#") Dịch vụ
            ul
                li
                    a(href="#") Tin tức - Sự kiện
                li
                    a(href="#") Thư viện ảnh
                li
                    a(href="#") Liên hệ     
        li
            a(href="#") Tin tức - Sự kiện
            ul
                li
                    a(href="#") Tin tức - Sự kiện
                li
                    a(href="#") Thư viện ảnh
                li
                    a(href="#") Liên hệ 
        li
            a(href="#") Thư viện ảnh
        li
            a(href="#") Liên hệ	
            
