head
  title IOT SPACE
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="icon",href="images/favicon.ico",type="image/x-icon")
  link(rel="stylesheet", href="css/lib/swiper.min.css")
  link(rel="stylesheet", href="css/lib/jquery.mmenu.all.css")
  link(rel="stylesheet", href="css/lib/fancybox.css")
  link(rel="stylesheet", href="css/lib/animate.css")
  link(rel="stylesheet", href="css/lib/jquery-ui.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
