
script(src='js/jquery-3.2.1.min.js')
script(src='js/swiper.min.js')
script(src='js/jquery.mmenu.min.all.js')
script(src='js/fancybox.js')
script(src='js/wow.min.js')
script(src='js/jquery-ui.js')
script(src='js/myscript.js')


