
@include b('e-heading-page') {
    font-size: calculateRem(35px);
    font-family: 'UTMNeutra';
    color:#2C2C2C;
    line-height: calculateRem(50px);

    @media all and (max-width: 600px) {
        font-size: calculateRem(25px);
        line-height: calculateRem(35px);
    }
}

@include b('e-heading-section') {
    font-size: calculateRem(15px);
    font-family: 'UTMNeutra';
    color:#2C2C2C;
    line-height: calculateRem(23px);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}