$base_color: #494949;
$bg_base_color: #fff8f8;

$color_orange: #f4906e;
$color_black: #000;
$color_white: #fff;

$bg_color_orange: #f4906e;
$bg_color_blue: #3287f4;
$bg_color_white: #fff;
$bg_color_black: #000;
$bg_color_header: #fbd3c6;
$bg_color_01: #f6f4ed;

$border_color_white: #fff;
$border_color_black: #000;
$border_color_blue: #3287f4;
$border_color_orange: #f4906e;

